body {
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}

.container {}

.form-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.add-form,
.search-form {
    width: 200px;
    text-align: center;
}

.statistic-container {}

.table {
    width: calc(100% - 60px);
    text-align: center;
    margin: 20px auto;
}

th,
td {
    outline: 1px dashed lightblue;
}

.table-places,
.table-statistics {
    outline: 1px solid linen;
    border-spacing: 10px;
    table-layout: fixed;
}

.th-statistics {}

.td-number,
.td-type,
.td-model,
.td-color,
.td-delete {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.td-number {
    align-items: center;
    justify-content: center;
    width: 40px;
}

.td-type {
    width: 160px;
}

.td-model {
    width: 60px;
}

.td-color {
    width: 60px;
}

.td-delete {
    justify-content: center;
}

.table-places tr {
    display: flex;
    padding: 5px;
}
